@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,600,700,500);
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Cabin", sans-serif;
  padding-bottom: 100px; }

a {
  text-decoration: none;
  color: #000;
  outline: 0;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #000;
    outline: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Cabin", sans-serif;
  margin-bottom: 10px; }

p {
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

label {
  margin: 0;
  font-weight: 400; }

.brd {
  border: 1px solid red; }

.centertxt {
  text-align: center; }

.pad0 {
  padding: 0; }

.marg0 {
  margin: 0; }

.padmarg0 {
  padding: 0;
  margin: 0; }

.Hidden {
  display: none !important; }

.mainContainer {
  margin-top: 20px; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px; }

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center; }

.alertContainer {
  margin: 25px 10px; }

#login {
  border-radius: 8px;
  box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  max-width: 20em;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  color: black; }

/* Etiquetas del formulario */
/* Campos del formulario */
.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute; }

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 1px 0;
  cursor: pointer; }
  .checkbox-custom:active, .checkbox-custom:focus, .checkbox-custom-label:active, .checkbox-custom-label:focus, .radio-custom:active, .radio-custom:focus, .radio-custom-label:active, .radio-custom-label:focus {
    outline: none; }

.checkbox-custom-label, .radio-custom-label {
  position: relative; }

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
  content: "";
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 1px;
  margin-right: 10px;
  text-align: center; }

.checkbox-custom:checked + .checkbox-custom-label:before {
  background: #c63461;
  box-shadow: inset 0px 0px 0px 4px #fff; }

.radio-custom + .radio-custom-label:before {
  border-radius: 50%; }

.radio-custom:checked + .radio-custom-label:before {
  background: #ccc;
  box-shadow: inset 0px 0px 0px 4px #fff; }

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; }

.footer {
  position: fixed;
  width: 100%;
  padding: 5px 0;
  padding-top: 10px;
  left: 0px;
  bottom: 0px;
  height: 45px;
  width: 100%;
  background: #b63b3b;
  text-align: center; }
  .footer span {
    color: #fff; }

.logo {
  max-width: 80px; }

nav button {
  color: #fff; }
nav .brand {
  color: #fff; }

.navbar {
  background-color: #393939;
  border-radius: 0; }

.bg-inverse {
  padding: 5px; }

.nav-link:hover {
  cursor: pointer; }

.welcome {
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center; }
  .welcome h1 {
    text-align: center; }
  .welcome img {
    max-width: 450px; }

.teams {
  margin-top: 15px;
  margin-bottom: 10px;
  background: linear-gradient(to bottom, #e68d8d 0, #f56363 95%);
  padding: 15px; }
  .teams h2 {
    margin-bottom: 15px;
    text-align: center; }

.tablaLigaRes {
  max-width: 950px; }

#tabla {
  background-color: #bebebe; }
  #tabla input {
    color: #000;
    padding-left: 10px;
    border: 0; }

.listTeams, .listTitles {
  background-color: #ee3e3e;
  color: #fff;
  padding: 5px;
  margin: 2px 0;
  transition: all 0.3s ease 0s; }

.listTitles {
  background-color: #3c3c3c;
  font-weight: 600; }

.listTeams:hover {
  background-color: #f0a9a9;
  cursor: pointer;
  color: #000; }

.teamsForm {
  text-align: center;
  max-width: 350px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .teamsForm form {
    border-radius: 10px;
    background: linear-gradient(to bottom, #8f5959 0, #d77474 95%);
    margin-top: 15px;
    padding: 15px 10px;
    -webkit-box-shadow: 7px 6px 18px -3px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 7px 6px 18px -3px rgba(0, 0, 0, 0.55);
    box-shadow: 7px 6px 18px -3px rgba(0, 0, 0, 0.55); }

.teamSelected {
  border: 1px solid black; }

.addTeams {
  border: 0;
  margin: 5px 0; }
  .addTeams input {
    padding: 8px 10px;
    margin: 3px;
    border: 0;
    text-align: center;
    width: auto; }

.showAddTeamBtnDiv {
  text-align: center; }

.homeMenu {
  display: flex;
  text-align: center; }
  .homeMenu h4 {
    font-size: 1em; }

.menuCard {
  max-width: 300px;
  text-align: center; }
  .menuCard img {
    max-width: 100%; }

.categoriasMenu ul li {
  list-style: none;
  display: inline-block; }

.homeWelcomeMessage {
  margin: 65px 0; }
  .homeWelcomeMessage .fa {
    font-size: 25px; }

.homeMantero {
  margin: 25px 0;
  text-align: center; }

body.ligaMain {
  background: url(../images/ligaBack.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.liga {
  margin-top: 25px;
  text-align: center; }
  .liga h1 {
    color: #fff; }

.ligaPartido {
  border-radius: 5px;
  background-color: rgba(226, 226, 226, 0.45);
  padding: 10px 10px; }
  .ligaPartido button {
    margin-top: 10px; }

.partidoResultados {
  padding: 2px 5px; }
  .partidoResultados form div {
    padding: 0; }

.partidoResultadosGoles {
  padding-left: 4px !important;
  margin-bottom: 2px; }

.ligaTabla {
  border-radius: 5px;
  background-color: rgba(226, 226, 226, 0.7);
  padding: 10px 10px;
  text-align: left; }

.ligaPosiciones, .ligaResultados {
  margin: 15px;
  margin-left: 10px; }
  .ligaPosiciones ul, .ligaResultados ul {
    display: inline; }
    .ligaPosiciones ul li, .ligaResultados ul li {
      list-style: none; }

.transInput input {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #6e6e7a;
  margin-bottom: 5px; }
.transInput input::-webkit-input-placeholder {
  color: #000; }
.transInput input:-moz-placeholder {
  color: #000; }
.transInput input::-moz-placeholder {
  color: #000; }
.transInput input:-ms-input-placeholder {
  color: #000; }

.deleteIcon {
  padding: 0 10px;
  background-color: #c15c5c;
  color: #fff; }

.showAddTeamBtn {
  background-color: #855858;
  transition: all 0.3s ease 0s;
  color: #fff; }
  .showAddTeamBtn:hover {
    background-color: #b67a7a; }

.addTeamBtn, .mainBtn {
  margin-top: 15px;
  background: linear-gradient(to bottom, #da4848 0, #b92525 95%);
  border: 0;
  transition: all 0.3s ease 0s;
  color: #fff; }
  .addTeamBtn:hover, .addTeamBtn:focus, .addTeamBtn:active, .mainBtn:hover, .mainBtn:focus, .mainBtn:active {
    background: linear-gradient(to bottom, #863131 0, #914545 95%); }

/*# sourceMappingURL=main.css.map */
