.partidoyTabla
  text-align: center
  position: relative

.ligaWelcome
  padding: 10px 10px
.ligaWelcomeInner
  min-height: 250px

.ligaPartido
  padding: 10px 10px
  border-radius: 5px
  button
    margin-top: 10px

.ligaPartidoInner
  min-height: 250px
  div
    padding: 5px

.partidoExpulsados
  margin-top: 20px
  div
    padding: 0


.ligaResultados
  padding: 10px 10px
  ul
    li
      margin: 5px 15px
      list-style: none
      span
        font-size: 20px

.ligaTabla
  padding: 10px 10px
  // text-align: left
  ul
    display: inline
    li
      list-style: none

.ligaInner
  min-height: 250px
  div
    padding: 0

.anotarPartido
  position: absolute
  bottom: 0
  margin-bottom: 25px

.transition
  transition: all 0.3s ease 0s
